{% load static %}
              <!-- ================== ABOUT SECTION ================== -->
              <section class="section bg-white">
                <div class="border-lg-cyan pt-52 pb-52">
                    <h2 class="md:text-[48px] min-[320px]:text-[28px] font-black w-full text-center  text-white">
                        ¿Quiénes somos nosotros?
                    </h2>
                    <p class="text-center text-white w-1/2 m-auto">
                        Somos Finniu un equipo con una misión de impulsar el crecimiento financiero y mejorar la administración del dinero de las personas para que puedan vivir financieramente estable. 
                    </p>
                </div>
                
              </section>
              <!-- ================ SERVICES END ================ -->