{% load static %}
<!-- ==================== ABOUT ==================== -->
              <section id="about" class="section">
                <h2 class="title">Acerca de mí</h2>
                <div class="section-des">
                    Soy un Ingeniero de Sistemas, con aptitudes para el desarrrollo de sistemas o servicios web en Python , PHP , React , Django, Flask, Angular, VueJs
                </div>

                <img class="about-img block-right" data-jarallax-element="0 -40" src="images/about-img.jpg" alt="">

                <ul class="about-info" data-threshold="0 0" data-jarallax-element="40 0">
                    <li>
                        <h6>EMAIL</h6>
                        <a href="mailto:ddvloayza@gmail.com">ddvloayza@gmail.com</a>
                    </li>
                    <li>
                        <h6>PUESTO</h6>
                        <span>Programador Full Stack</span>
                    </li>
                    <li>
                        <h6>PHONE</h6>
                        <a href="tel:+925608755">(+059) 925 608 755</a>
                    </li>
                </ul>

                <div class="about-text content-670">
                    <p>
                        Tengo alrrededor de 4 años programando con Python y Django como framework para hacer Sistemas web dinamicos y adaptables para los diversos clientes, he utilizado tecnologias como Angular , Javascript Puro, React
                    </p>
                </div>

{% comment %}
<img class="signature" src="{% static 'images/signature.svg' %}" alt="">
{% endcomment %}
    

            </section>
            <!-- ================== ABOUT END ================== -->