{% load static %}

              <section class="section-ahorro">
                <div class="container">
                    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-8 py-8 px-6">
                        <div class="flex justify-end">
                            <img src="{% static 'images/boveda.png' %}" alt="" class="img-coin">
                        </div>
                        <div class="flex justify-initial">
                            <div class="flex flex-col m-auto w-3/4">
                                <h2 class="md:text-[48px] md:text-start min-[320px]:text-[28px] min-[320px]:text-center font-black text-white">
                                    Conoce como construir 
                                    tu hábito de ahorro 
                                    de la forma más sencilla  
                                </h2>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div>
                    <img src="/static/images/row-circle.png" alt="" class="m-auto w-40">
                    
                </div>
              </section>