{% load static %}
<section class="back-gradient">
    <div class="container">
        <h2 class="text-3xl font-medium text-color-blue">
            ¿Por qué Finniu es tu mejor aliado
        </h2>
        <h2 class="text-3xl font-medium text-color-blue">
            para empezar ahorrar?
        </h2>
        <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-2">
            <div class="flex justify-end">
                <img src="{% static 'images/finniu-app.png' %}" alt="" class="w-1/2">
            </div>
            <div class="flex justify-initial">
                <div class="flex flex-col m-auto w-3/4">
                    <div class="grid grid-cols-2 justify-items-end py-8 px-6 md:grid-cols-2">
                        <img src="{% static 'images/tres-chanchos.png' %}" alt="" class="w-1/2">
                        <div class="text-center">
                            <div class="rounded-3xl background-celeste p-4 shadow-lg">
                                Conoce como construir 
                            </div>
                            <p class="pt-4">
                                Ahorra de manera sencilla personalizando tus metas 
                            </p>
                        </div>
                        
                    </div>
                    <div class="grid grid-cols-2 justify-items-end py-8 px-6 md:grid-cols-2">
                        <img src="{% static 'images/money-rating.png' %}" alt="" class="w-1/2">
                        <div class="text-center">
                            <div class="rounded-3xl background-lila p-4 shadow-lg">
                                Administra tu dinero 
                            </div>
                            <p class="pt-4">
                                Te brindamos un <strong>reporte semanal</strong>  de tus finanzas  
                            </p>
                        </div>
                        
                    </div>
                    
                    
                </div>
                
            </div>
            
        </div>
    </div>
  </section>

  <section class="background-morado">
    <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
        <div class="flex flex-wrap -m-1 md:-m-2 justify-center">
            <div class="flex flex-wrap w-1/4">
                <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                    src="{% static 'images/pick-heart.png' %}">
                </div>
              </div>
              <div class="flex flex-wrap w-3/4 content-center">
                <div class="w-full p-1 md:p-2">
                    <h2 class="text-5xl font-bold text-white">
                        ¡TÚ TAMBIÉN PUEDES SER FINNIU!
                    </h2>
                </div>
              </div>
        </div>
    </div>
  </section>

  <!-- ================ SERVICES END ================ -->