              {% load static %}
              <!-- ==================== BLOG ==================== -->
              <section id="blogs" class="section" v-if=" list_blogs.length > 0 ">
                <h2 class="title">BLOG</h2>
                <div class="section-des">
                </div>
                <div>
                    <ul class="home-blog-list">
                        <li v-for="post in list_blogs">
                            <a v-bind:href="post.url">[* post.title *] </a>
                            <div class="blog-list-info">
                                <div class="date">[* post.date *]</div>
                                <div class="category">[* post.category[1] *]</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>
            <!-- ================== BLOG END ================== -->
            {% block js %}
            <script src="{% static 'vue/vue.js' %}"></script>
            <script src="{% static 'vue/axios.js' %}"> </script>
            <script type="text/javascript" src=" {% static 'vue/apps/ListBlogs.js' %} " ></script>
            {% endblock js %}
