{% load static %}
<!-- ================== CHOOSE SECTION ================== -->
              <section class="second md:bg-[length:100%_100%] min-[320px]:bg-[length:100%_75%]">
                <div class="pb-24">
                    <div class="pt-96 pb-24">
                        <h2 class="md:text-[48px] min-[320px]:text-[28px] font-black w-full text-center  text-white">
                            ¿Por qué elegirnos?
                        </h2>
                        <p class="text-center text-white w-1/2 m-auto">
                            Con Finniu te ayudamos a crecer tu dinero ,tus metas también son nuestras metas 
                        </p>
                    </div>
                    <div class="container grid md:grid-cols-3 sm:grid-cols-2 gap-8 m-auto px-4">
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/bucks.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="md:text-[38px] min-[320px]:text-[28px] font-black text-center font-black pb-4 word-wrap-anywhere">Confiables</h2>
                                <div class="">Somos un equipo que trabajamos de manera transparente asegurando que cumplas todas tus metas.</div>
                            </div>
                        </div>
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/Chancho.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="md:text-[38px] min-[320px]:text-[28px] font-black text-center font-black pb-4 word-wrap-anywhere">Soluciones</h2>
                                <div class="">Te brindamos soluciones perfectas para que puedas administrar, ahorrar y multiplicar tu dinero. </div>
                            </div>
                        </div>
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/resultados.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="md:text-[38px] min-[320px]:text-[28px] font-black text-center font-black pb-4 word-wrap-anywhere">Resultados</h2>
                                <div class="">Los resultados son medibles y escalables, te brindamos reportes semanalmente de tus finanzas.</div>
                            </div>
                        </div>

                    </div>
                </div>
  
                <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-8 py-8 px-6">
                    <div class="flex justify-end">
                        <img src="{% static 'images/bolsa.png' %}" alt="" class="">
                    </div>
                    <div class="flex justify-initial">
                        <div class="flex flex-col m-auto">
                            <h2 class="md:text-[48px] md:text-start min-[320px]:text-[28px] min-[320px]:text-center font-black font-black pb-4 md:text-white sm:text-blue-700">Conoce nuestros</h2>
                            <h2 class="md:text-[48px] md:text-start min-[320px]:text-[28px] min-[320px]:text-center font-black font-black pb-4 md:text-white sm:text-blue-700">planes de Inversión que tenemos para tí</h2>
                            <h2 class="md:text-[48px] md:text-start min-[320px]:text-[28px] min-[320px]:text-center font-black font-black pb-4 md:text-white sm:text-blue-700">que tenemos para tí</h2>
                        </div>
                        
                    </div>
                </div>
                <div>
                    <img src="{% static 'images/row-circle.png' %}" alt="" class="m-auto w-40">
                    
                </div>
              </section>
              <!-- ================ SERVICES END ================ -->