{% load static %}
<!-- ================== CHOOSE SECTION ================== -->
              <section class="second">
                <div class="pb-24">
                    <div class="pt-96 pb-24">
                        <h2 class="title w-full text-center  text-white">
                            ¿Por qué elegirnos?
                        </h2>
                        <p class="text-center text-white w-1/2 m-auto">
                            Con Finniu te ayudamos a crecer tu dinero ,tus metas también son nuestras metas 
                        </p>
                    </div>
                    <div class="columns-3 w-3/4 m-auto">
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/bucks.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="text-4xl text-center font-black pb-4">Confiables</h2>
                                <div class="">Somos un equipo que trabajamos de manera transparente asegurando que cumplas todas tus metas.</div>
                            </div>
                        </div>
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/Chancho.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="text-4xl text-center font-black pb-4">Soluciones</h2>
                                <div class="">Te brindamos soluciones perfectas para que puedas administrar, ahorrar y multiplicar tu dinero. </div>
                            </div>
                        </div>
                        <div class="card-choose">
                            <div class="container-img">
                                <img src="{% static 'images/resultados.png' %}" alt="" class="img-choose">
                            </div>
                            <div class="container-text">
                                <h2 class="text-4xl text-center font-black pb-4">Resultados</h2>
                                <div class="">Los resultados son medibles y escalables, te brindamos reportes semanalmente de tus finanzas.</div>
                            </div>
                        </div>

                    </div>
                </div>
  
                <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-2">
                    <div class="flex justify-end">
                        <img src="{% static 'images/bolsa.png' %}" alt="" class="">
                    </div>
                    <div class="flex justify-initial">
                        <div class="flex flex-col m-auto">
                            <h2 class="text-4xl font-black pb-4 text-white">Conoce nuestros</h2>
                            <h2 class="text-4xl font-black pb-4 text-white">planes de Inversión que tenemos para tí</h2>
                            <h2 class="text-4xl font-black pb-4 text-white">que tenemos para tí</h2>
                        </div>
                        
                    </div>
                </div>
                <div>
                    <img src="{% static 'images/row-circle.png' %}" alt="" class="m-auto w-40">
                    
                </div>
              </section>
              <!-- ================ SERVICES END ================ -->