{% load static %}

            <section class="section-empresas-inversion">
                <div class="container py-32">
                    <h2 class="title text-center text-color-blue w-2/5 m-auto">
                        Empresas que invierten en Finniu   
                    </h2>
                    <div class="overflow-hidden text-gray-700 ">
                        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
                          <div class="flex flex-wrap -m-1 md:-m-2 justify-center">
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                  src="{% static 'images/Empresa1.png' %}">
                              </div>
                            </div>
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                    src="{% static 'images/Empresa2.png' %}">
                              </div>
                            </div>
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                src="{% static 'images/Empresa3.png' %}">
                              </div>
                            </div>
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                src="{% static 'images/Empresa4.png' %}">
                              </div>
                            </div>
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                src="{% static 'images/Empresa5.png' %}">
                              </div>
                            </div>
                            <div class="flex flex-wrap w-1/4">
                              <div class="w-full p-1 md:p-2">
                                <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                src="{% static 'images/Empresa6.png' %}">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
                <!-- ================ SERVICES END ================ -->