{% load static %}
              <section class="back-gradient3 ">
                <div class="grid md:grid-cols-2 sm:grid-cols-1">
                    <div class=" pt-32">
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 md:justify-items-end min-[320px]:justify-items-center py-8 px-6  items-center">
                            <img src="{% static 'images/wind.png' %}" alt="" class="w-1/5">
                            <h2 class="md:text-[48px] min-[320px]:text-[28px] text-center font-black">¿Cómo podemos ayudarte?</h2>
                        </div>
                        <div class="grid grid-cols-1 md:justify-items-end min-[320px]:justify-items-center px-6 md:grid-cols-1">
                            <p class="w-3/5">
                                Si tienes una duda o necesitas ayuda ,no dudes en ponerte en contacto con nosotros ,escribenos a:
                            </p>
                        </div>
                        <div>
                            <div class="grid md:justify-items-end min-[320px]:justify-items-center py-8 px-6 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <img src="{% static 'images/whatsapp.png' %}" alt="" class="w-1/5 ">
                                <div class="border-contact text-color-blue md:justify-self-start sm:justify-self-center">
                                    <a href="https://wa.link/ul5zb8">Contáctanos en whatsapp</a>   
                                </div>
                            </div>
                            <div class="grid md:justify-items-end min-[320px]:justify-items-center py-8 px-6 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <img src="{% static 'images/linkedin.png' %}" alt="" class="w-1/5 ">
                                <div class="border-contact text-color-blue md:justify-self-start sm:justify-self-center">
                                    <a href="https://pe.linkedin.com/company/finniu?original_referer=https%3A%2F%2Fwww.google.com%2F">Contáctanos en linkedin</a>
                                    
                                </div>
                            </div>
                            <div class="grid md:justify-items-end min-[320px]:justify-items-center py-8 px-6 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <img src="{% static 'images/gmail.png' %}" alt="" class="w-1/5">
                                <div class="border-contact text-color-blue md:justify-self-start sm:justify-self-center">
                                    <a href="mailto:hola@finniu.com">
                                        Contáctanos por correo
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <img src="{% static 'images/iman.png' %}" alt="" class=" float-right">
                    </div>
                </div>
              </section>