{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
                <!-- ================== HOME ================== -->
                <section class="first-fondo">
                  <div class="container pt-52">
                    <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-2">
                      <div>
                        <h2 class="title w-3/4">
                          Comienza a vivir
                        </h2>
                        <h2 class="title w-3/4">
                          financieramente estable
                        </h2>
                        <h2 class="title w-3/4">
                          junto a nosotros
                        </h2>
                        <p class="text-lg w-2/4">
                          Cumple tus metas invirtiendo tu dinero y manejando tus finanzas de forma sencilla junto a nosotros 
                        </p>
                      </div>
                      <div class="">
                        <img src="{% static 'images/first-img.png' %}" class="img-coin" alt="Finniu Logo">
                      </div>
                    </div>
                    
                  </div>
                  
                    
              </section>
              <!-- ================= HOME END ================= -->
              {% include 'about.html' %}
              {% include 'our-numbers.html' %}
              {% include 'choose.html' %}
              {% include 'metods.html' %}
              {% include 'investing.html' %}
              {% include 'ahorro.html' %}
              {% include 'aliado.html' %}
              {% include 'metas.html' %}
              {% include 'testimonial.html' %}
              {% include 'companies.html' %}
              {% include 'contact.html' %}
              

{% comment %}


{% include 'about.html' %}

{% include 'portafolio.html' %}

{% include 'blog.html' %}

{% include 'skills.html' %}

{% include 'contact.html' %}

{% endcomment %}









{% endblock content %}
{% block js %}

{% endblock js %}