{% load static %}

              <section class="back-gradient2 pt-52 ">
                <h2 class="title text-center text-color-blue w-2/5 m-auto">
                    Domina tu dinero y consigue todas tus metas   
                </h2>
                <div class="columns-3 pt-32">
                    <div>
                        <img src="{% static 'images/layer-left.png' %}" alt="" class="w-full m-auto">
                    </div>
                    <div>
                        <img src="{% static 'images/scan-code.png' %}" alt="" class="w-full  m-auto">
                    </div>
                    <div>
                        <img src="{% static 'images/layer-right.png' %}" alt="" class="w-full  m-auto">
                    </div>
                </div>
              </section>
            <!-- ================ SERVICES END ================ -->