{% load static %}

              <section class="back-gradient2 md:pt-52 min-[320px]:pt-32">
                <h2 class="md:text-[48px] min-[320px]:text-[28px] font-black text-center text-color-blue md:w-2/5 min-[320px]:w-full m-auto">
                    Domina tu dinero y consigue todas tus metas   
                </h2>
                <div class="grid md:grid-cols-3 sm:md:grid-cols-1 m-auto pt-32">
                    <div>
                        <img src="{% static 'images/layer-left.png' %}" alt="" class="w-full m-auto">
                    </div>
                    <div>
                        <img src="{% static 'images/scan-code.png' %}" alt="" class="w-full  m-auto">
                    </div>
                    <div>
                        <img src="{% static 'images/layer-right.png' %}" alt="" class="w-full  m-auto">
                    </div>
                </div>
              </section>
            <!-- ================ SERVICES END ================ -->