{% load static %}
              <section>
                <div class="pt-24 pb-24">
                    <h2 class="title w-full text-center">
                        En Finniu tienes varios métodos  
                    </h2>
                    <h2 class="title w-full text-center">
                        de inversiones    
                    </h2>
                    <div>
                        <div class="container grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-2 justify-items-center">
                            <div class="flip">
                                <div class="flip-content">
                                  <div class="flip-front">
                                    <img src="{% static 'images/plans-img/money1.png' %}" class="w-1/2 m-auto">
                                    <h3 class="text-4xl text-color-blue font-semibold">Plan de Origen</h3>
                                    <p class="py-2">Cantidad de inversión desde S/500</p>
                                    <p class="py-2">Retorno: 12% anual</p>
                                  </div>
                                  <div class="flip-back">
                                    <p class="p-back-text text-white">
                                        Esta inversión prioriza la estabilidad genernado una rentabilidad modesta. Si recién empiezas a invertir, este plan es perfecto para tí.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="flip">
                                <div class="flip-content">
                                  <div class="flip-front">
                                    <img src="{% static 'images/plans-img/wallet.png' %}" class="w-1/2 m-auto">
                                    <h3 class="text-4xl text-color-blue font-semibold">Plan Estable </h3>
                                    <p class="py-2">Cantidad de inversión desde S/1,000</p>
                                    <p class="py-2">Retorno: 14% anual</p>
                                  </div>
                                  <div class="flip-back">
                                    <p class="p-back-text text-white">
                                      Esta inversión busca la simetría de riesgo-beneficio modesto. Recomendable  para personas que buscan otra alternativa de inversión en el mercado.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="flip">
                                <div class="flip-content">
                                  <div class="flip-front text-color-blue">
                                    <img src="{% static 'images/plans-img/bucks.png' %}" class="w-1/2 m-auto">
                                    <h3 class="text-4xl font-semibold py-2">Plan Responsable</h3>
                                    <p class="py-2">Cantidad de inversión desde S/5,000</p>
                                    <p class="py-2">Retorno: 16% anual</p>
                                  </div>
                                  <div class="flip-back">
                                    <p class="p-back-text text-white">
                                      Esta inversión brinda una rentabilidad atractiva mayor a fondos mutuos y factoring. Esencial para aquellos que buscan incrementar sus ahorros.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="flip">
                                <div class="flip-content">
                                  <div class="flip-front">
                                    <img src="{% static 'images/plans-img/coins-scale.png' %}" class="w-1/2 m-auto">
                                    <h3 class="text-4xl text-color-blue font-semibold">Plan Crecimiento</h3>
                                    <p class="py-2">Cantidad de inversión desde S/ 10,000</p>
                                    <p class="py-2">Retorno: 20% anual</p>
                                  </div>
                                  <div class="flip-back">
                                    <p class="p-back-text text-white">
                                      Esta inversión se enfonca en brindar la mejor rentabilidad para aquellos inversionistas que buscan maximizar sus ganancias.  
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </div>
              </section>

              <!-- ================ SERVICES END ================ -->