{% load static %}
            <!-- ================== OUR NUMBERS SECTION ================== -->
        <section id="services" class="section  pt-52">
            <div class="columns-1">
                <h2 class="md:text-[48px] min-[320px]:text-[28px] font-black w-full text-center">
                    Nuestros números son
                </h2>
            </div>
            <div class="container">
                <div class="grid md:grid-cols-3 sm:md:grid-cols-1 m-auto md:gap-32 sm:gap-2">
                    <div class="card">
                        <img src="{% static 'images/Rentabilidad-promedio1.png' %}" alt="">
                        <div class="card-label">
                            <p class="md:text-[38px] min-[320px]:text-[28px] font-black text-center font-black">
                                s/ 500 
                            </p>
                            <p class="text-base text-center">
                                MONTO MÍNIMO DE INVERSIÓN
                            </p>
                        </div>
                        
                    </div>
                    <div class="card">
                        <img src="{% static 'images/Ahorros-invertidos.png' %}" alt="">
                        <div class="card-label">
                            <p class="md:text-[38px] min-[320px]:text-[28px] font-black text-center font-black">
                                s/300,000
                            </p>
                            <p class="text-base text-center">
                                AHORROS INVERTIDOS  
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'images/Rentabilidad-promedio.png' %}" alt="">
                        <div class="card-label">
                            <p class="md:text-[38px] min-[320px]:text-[28px]  font-black text-center font-black">
                                17%
                            </p>
                            <p class="text-base text-center">
                                RENTABILIDAD PROMEDIO AL INVERSIONISTA  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ SERVICES END ================ -->