{% load static %} 
 <!-- ==================== PORTFOLIO ==================== -->
              <section id="portfolio" class="section">
                <h2 class="title">PORTFOLIO</h2>
                <div class="section-des">
                    Algunos de mis trabajos.
                </div>

                <div id="portfolio-wrapper" class="relative block-right">                        
                    <div class="portfolio-load-content-holder"></div>
                    <div class="grid" id="portfolio-grid">                                                            
                        <div class="grid-sizer"></div>

                        <div class="grid-item element-item p-one">
                            <a class="item-link " href="{% static 'images/works/tvempresa.png' %}" data-rel="prettyPhoto[portfolio]">
                                <img src="{% static 'images/works/tvempresa.png' %} " alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <p class="portfolio-text">Tvempresa.com</p>
                                        <p class="portfolio-cat">Pagina-Web</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="grid-item element-item p-one-half">
                            <a class="item-link " href="{% static 'images/works/carnipets.png' %}" data-rel="prettyPhoto[portfolio]">
                                <img src="{% static 'images/works/carnipets.png' %} " alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <p class="portfolio-text">Carnipets.com</p>
                                        <p class="portfolio-cat">Pagina-Web</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item element-item p-one-half">
                            <a class="item-link " href="{% static 'images/works/doctorcv.png' %}" data-rel="prettyPhoto[portfolio]">
                                <img src="{% static 'images/works/doctorcv.png' %} " alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <p class="portfolio-text">Doctor-cv.com</p>
                                        <p class="portfolio-cat">Pagina-Web</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item element-item p-one">
                            <a class="item-link" href="{% static 'images/works/kubernetes-logo.jpg' %}" data-rel="prettyPhoto[portfolio]">
                                <img src="{% static 'images/works/kubernetes-logo.jpg' %} " alt="" />
                                <div class="portfolio-text-holder">
                                    <div class="portfolio-text-wrapper">
                                        <p class="portfolio-text">Kubernetes</p>
                                        <p class="portfolio-cat">Diseño de Arquitecturas en Kubernetes con Docker</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>                
                </div>   
            </section>
            <!-- ================== PORTFOLIO END ================== -->