{% load static %}
              <!-- ================== SERVICES ================== -->
              <section class="section bg-white">
                <div class="border-lg-cyan pt-52 pb-52">
                    <h2 class="title w-full text-center  text-white">
                        ¿Quiénes somos nosotros?
                    </h2>
                    <p class="text-center text-white w-1/2 m-auto">
                        Somos Finniu un equipo con una misión de impulsar el crecimiento financiero y mejorar la administración del dinero de las personas para que puedan vivir financieramente estable. 
                    </p>
                </div>
                
              </section>
              <section id="services" class="section  pt-52">
                <div class="columns-1">
                    <h2 class="title w-full text-center">
                        Nuestros números son
                    </h2>

                   
                    
                  </div>

              </section>
              <section class="pt-16 second">
                <div class="columns-3 w-3/4 m-auto pb-96">
                    <div class="card">
                        <img src="{% static 'images/Rentabilidad-promedio1.png' %}" alt="">
                        <div class="card-label">
                            <p class="text-2xl text-center font-black">
                                s/ 500 
                            </p>
                            <p class="text-base text-center">
                                MONTO MÍNIMO DE INVERSIÓN
                            </p>
                        </div>
                        
                    </div>
                    <div class="card">
                        <img src="{% static 'images/Ahorros-invertidos.png' %}" alt="">
                        <div class="card-label">
                            <p class="text-2xl text-center font-black">
                                s/300,000
                            </p>
                            <p class="text-base text-center">
                                AHORROS INVERTIDOS  
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'images/Rentabilidad-promedio.png' %}" alt="">
                        <div class="card-label">
                            <p class="text-2xl text-center font-black">
                                17%
                            </p>
                            <p class="text-base text-center">
                                RENTABILIDAD PROMEDIO AL INVERSIONISTA  
                            </p>
                        </div>
                    </div>
                    
                </div>
                <!-- <div class="absolute">
                    <img src="{% static 'images/Fondo-2.png' %}" class="img-fondo-2" >
                </div> -->
              </section>

              <!-- ================ SERVICES END ================ -->
