{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
    <style>

    </style>

{% endblock css %}
{% block content %}

    <!-- ============== SINGLE-BLOG ============== -->
    <section class="single-blog section">
        <div class="container-wrap">
            <h1 class="entry-title">{{object.title}}</h1>

            <ul class="meta">
                <li class="author">{{object.user|title}}</li>
                <li class="date">{{object.created}}</li>
                <li class="category">
                    <a href="#">{{object.category}}</a>
                </li>
            </ul>

            <div class="content-670">
                <p>
                    {{object.intro|safe}}
                </p>
            </div>
            <div class="thumbnail-img block-right">
                <img src="{{object.image_intro.url}}" alt="">
            </div>

            <div class="content-670">
                {{object.first_p|safe}}
                <div class="clearfix"></div>
                {% if object.quotes %}
                <blockquote>
                    <img src="{% static 'images/quote.svg' %} " alt="">
                    {{object.quotes|safe}}
                </blockquote>
                {% endif %}
                    
                <ul class="soc-list">
                    <li><a href="#">TW.</a></li>
                    <li><a href="#">IN.</a></li>
                    <li><a href="#">FB.</a></li>
                </ul>

            </div>
        </div>
    </section>
    <!-- ============= SINGLE-BLOG END ============= -->

{% endblock content %}
{% block js %}

{% endblock js %}