{% load static %}
            <!-- ================ SERVICES START ================ -->
            <section class=" pt-52 ">
                <h2 class="md:text-[48px] min-[320px]:text-[28px] font-black text-center text-color-lila md:w-2/5 min-[320px]:w-full m-auto">
                    ¿Que dicen los usuarios de Finniu?   
                </h2>
                <h4 class="text-color-blue text-center text-xl">
                    Clientes satisfechos son nuestra verdadera riqueza
                </h4>
                <div class="container grid md:grid-cols-3 sm:grid-cols-1 gap-8 md:py-32 min-[320px]:py-[1rem] min-[320px]:px-[1rem]">
                    <div class="card-img-testimonial border-testi-1">
                        <img src="{% static 'images/testimonial/testimonial-1.png' %}" alt="" class="m-auto">
                        <h3 class="text-center text-2xl text-color-blue pt-2 font-semibold">
                            José Quiñones
                        </h3>
                        <h4 class="text-center text-xl text-color-blue pt-2 font-semibold">
                            Emprendedor-33 años
                        </h4>
                        <p class="text-center text-color-blue pt-2">
                            “Tenía ahorrado mi dinero en el banco que me generaba un 5% al año. Invertí con Finniu y obtuve un retorno de 20% al año ¡Lo recomiendo!”.
                        </p>
                    </div>

                    <div class="card-img-testimonial border-testi-2">
                        <img src="{% static 'images/testimonial/testimonial-2.png' %}" alt="" class="m-auto">
                        <h3 class="text-center text-2xl text-color-blue pt-2 font-semibold">
                            Tania Mallqui
                        </h3>
                        <h4 class="text-center text-xl text-color-blue pt-2 font-semibold">
                            Emprendedora-30 años
                        </h4>
                        <p class="text-center text-color-blue pt-2">
                            “Estaba invirtiendo en fondos mutuos pero habían comisiones al invertir o retirar. Con Finniu se acabaron las comisiones y complicaciones.”
                        </p>
                    </div>
                    
                    <div class="card-img-testimonial border-testi-1">
                        <img src="{% static 'images/testimonial/testimonial-3.png' %}" alt="" class="m-auto">
                        <h3 class="text-center text-2xl text-color-blue pt-2 font-semibold">
                            Jose Carlos
                        </h3>
                        <h4 class="text-center text-xl text-color-blue pt-2 font-semibold">
                            Emprendedor-34 años
                        </h4>
                        <p class="text-center text-color-blue pt-2">
                            “Lo mejor de invertir con Finniu es el seguimiento que le doy a mis inversiones en el App y su herramienta de finanzas personales. ¡La mejor opción!”
                        </p>
                    </div>
                </div>
            </section>