{% load static %}

  <!-- ================= HEADER ================= -->
<nav class="px-2 sm:px-4 py-2.5 fixed w-full z-50 top-0 left-0 border-gray-200 nav-sticky">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="" class="flex items-center">
        <img src="{% static 'images/LogoCrema.png' %}" class="mr-3 h-4-5 logo1" alt="Finniu Logo">
        <img src="{% static 'images/LogoAzul.png' %}" class="mr-3 h-4-5 logo2 hidden" alt="Finniu Logo">
    </a>
    <div class="flex md:order-2">
      <a class="btn-sticky text-color-blue background-celeste hover:bg-cyan-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 "
      href="https://app.finniu.com/" target="_blank">Registrate</a>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
      <div class="hidden  md:flex md:justify-end md:flex-auto  text-white navbar-default" id="navbar-sticky">
        <ul class="flex flex-col p-4 mt-4 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">
          <li>
            <a href="{% url 'blog:home' %}" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Home</a>
          </li>

          <li>
            <a href="{% url 'blog:servicios' %}" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Servicios</a>
          </li>

          <li>
            <a href="https://finantips.substack.com/" class="block py-2 pr-4 pl-3rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script>
      $(document).scroll(function () {
        var $nav = $(".nav-sticky");
        var $logo1 = $(".logo1");
        var $logo2 = $(".logo2");
        var $head = $(".navbar-default");
        var $btn_sticky = $(".btn-sticky");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        $logo1.toggleClass('hidden', $(this).scrollTop() > $nav.height());
        $logo2.toggleClass('hidden', $(this).scrollTop() < $nav.height());
        $head.toggleClass('text-color-blue', $(this).scrollTop() > $nav.height());
        $btn_sticky.toggleClass('button-sticky', $(this).scrollTop() > $nav.height());
        
      });

  </script>
  
  
<!-- =============== HEADER END =============== -->
